<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamesfchen.yposed" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application >
        <activity
            android:label="yposed activity"
            android:name="com.jamesfchen.yposed.YPosedActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".StubActivity"/>
    </application>
</manifest>
