<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamesfchen.yposed">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name="com.jamesfchen.yposed.YPosedActivity"
            android:label="yposed activity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.jamesfchen.hook.StubActivity"
            android:launchMode="standard" />

        <service android:name="com.jamesfchen.hook.StubService" />
        <service android:name=".TestService" />

        <provider
            android:name="com.jamesfchen.hook.StubContentProvider"
            android:authorities="com.jamesfchen.yposed.stub_provider"
            android:exported="true" />
    </application>
</manifest>
